df-layer {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: 3fr;
  grid-template-rows: 21px auto 40px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  --df-price--color: white;
  --df-price--background-color: blue;

  --df-price--discounted--color: purple;
  --df-price--discounted--background-color: yellow;

  --df-price--outdated--color: #ccc;
  --df-price--outdated--background-color: #000;

  --df-price--padding-top: 4px;
  --df-price--padding-right: 8px;
  --df-price--padding-bottom: 4px;
  --df-price--padding-left: 8px;

  --df-image--background-color: #ffffff;
}
