body {
  font-family: Arial, Helvetica, sans-serif;
}
.df-layer-fullscreen {
  --df-card--content--margin-left: 0.8em;
  --df-card--content--margin-right: 0.8em;
  --df-card--content--margin-top: 0.8em;
  --df-card--content--margin-bottom: 0.8em;
  background-color: white;

  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: fit-content(100px) auto fit-content(100px);
  grid-template-areas:
    "header header"
    "aside  content"
    "footer footer"
  ;

}

.df-header {
  grid-area: header;
  flex: 0 0 auto;

  flex-flow: row nowrap;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  padding: 1em 1em 0;
}

.df-header img {
  flex: 0 0 auto;
  margin-right: 20px;
}

.df-header df-input {
  flex: 1 1 auto;
  display: block;
}

.df-header input {
  display: block;
  width: 100%;
  font-size: 30px;
  border: 0px solid #000;
  border-bottom-width: 2px;
}

.df-header df-input {
  width: calc(100% - 2em);
  margin-bottom: 1em;
}

.df-header div.results {
  padding: 0 1em 1em;
}

.df-header #close_button {
  position: absolute;
  top: 1.5em;
  right: 1em;
  display: block;
}

.df-header #close_button .material-icons {
  font-size: 1.7em;
  color: #757575;
}

.df-main {
  flex: 1 1 auto;
  
}

.df-aside {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 20px;
  grid-area: aside;
  overflow-y: scroll;
}

.df-aside h2{
  font-size: 1.1em;
}

df-results {
  padding: 1em;
  grid-area: content;
}

.df-footer {
  grid-area: footer;
  border-top: 1px solid #ccc;
  padding-right: 1em;
  flex: 0 0 auto;
  text-align: right;
  line-height: 40px;
  color: #999;
}

.df-footer .doofinder-logo {
  display: inline-block;
  background-image: url(doofinder-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1em;
  width: 59px;
  height: 21px;
  color:transparent;
}

.df-footer .doofinder-link {
  display: inline-flex;
  color: #606569!important;
  font-size: 12px!important;
  line-height: 1.6em;
  text-decoration: none!important;
  padding-right: 5px;
  align-items: center;

}