<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Description</title>
  <link rel="stylesheet" href="/playground/assets/styles.css">
  <style>
    #descriptions {
      display: flex;
      flex-flow: row nowrap;
    }
    df-description {
      max-width: 200px;
      padding: 1rem;
      margin-right: 1rem;
      border: 1px dotted #ccc;
      line-height: 1.5;
    }
  </style>
  <style data-df-component="df-description">
    em {
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: #e0e0e0;
    }
  </style>
  <script type="module">
    import '@dfwc/results';

    function createDescription(stripHtml, lines) {
      const description = document.createElement('df-description');
      description.value = '<b>Lorem ipsum dolor sit amet</b>, <em class="something">consectetur adipisicing elit</em>. A quam qui et modi at. Fuga illo vero aut ratione minima, sunt <em>quaerat veritatis</em> sit! Eos nemo sed facere quis fuga!';
      description.stripHtml = stripHtml;
      description.lines = lines;
      return description;
    }

    const container = document.getElementById('descriptions');
    container.appendChild(createDescription(false));
    container.appendChild(createDescription(true));
    container.appendChild(createDescription(false, 3));
    container.appendChild(createDescription(true, 5));
  </script>
</head>
<body>
  <p>
    <a href="../index.html">← Playground</a>
  </p>

  <h1>Description</h1>

  <div id="descriptions"></div>
</body>
</html>
