<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Icons</title>
  <link rel="stylesheet" href="/playground/assets/styles.css">
  <script type="module">
    import '@dfwc/icon';

    document.getElementById('name').addEventListener('input', e => {
      document.querySelectorAll('df-icon').forEach(icon => icon.name = e.target.value);
    })
  </script>
  <style>
    .icon-group {
      padding: 1rem;
      border: 1px solid #000;
    }
  </style>
</head>
<body>
  <p>
    <a href="../index.html">← Playground</a>
  </p>

  <h1>Material Icons</h1>

  <p>
    <input type="text" placeholder="Type an icon name" autocomplete="off" id="name">
    <br>
    <small>
      <a href="https://material.io/resources/icons/?style=baseline" target="_blank" rel="noreferer noopener">All Icons</a>
    </small>
  </p>

  <p class="icon-group" style="background-color: #eee;">
    <df-icon name="search" size="18"></df-icon>
    <df-icon name="search"></df-icon>
    <df-icon name="search" size="36"></df-icon>
    <df-icon name="search" size="48"></df-icon>
  </p>

  <p class="icon-group" style="background-color: white;">
    <df-icon name="search" dark size="18"></df-icon>
    <df-icon name="search" dark></df-icon>
    <df-icon name="search" dark size="36"></df-icon>
    <df-icon name="search" dark size="48"></df-icon>
  </p>

  <p class="icon-group" style="background-color: black;">
    <df-icon name="search" light size="18"></df-icon>
    <df-icon name="search" light></df-icon>
    <df-icon name="search" light size="36"></df-icon>
    <df-icon name="search" light size="48"></df-icon>
  </p>
</body>
</html>
