<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pager</title>
  <link rel="stylesheet" href="/playground/assets/styles.css">
  <script type="module">
    import '@dfwc/input';
    import '@dfwc/pager';
  </script>
</head>
<body data-df-hashid="6a96504dc173514cab1e0198af92e6e9" data-df-zone="eu1">
  <p>
    <a href="../index.html">← Playground</a>
  </p>

  <h1>Pager</h1>

  <df-input-capture>
    <input type="search" placeholder="Search">
  </df-input-capture>

  <df-pager></df-pager>
</body>
</html>
