body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

df-layer {
  --df-price--color: white;
  --df-price--background-color: blue;

  --df-price--discounted--color: purple;
  --df-price--discounted--background-color: yellow;

  --df-price--outdated--color: #ccc;
  --df-price--outdated--background-color: #000;

  --df-price--padding-top: 4px;
  --df-price--padding-right: 8px;
  --df-price--padding-bottom: 4px;
  --df-price--padding-left: 8px;

  --df-image--background-color: #ffffff;
}

df-results {
  width: 100%;
  position: fixed;
}


.input-container {
  text-align: center;
  padding: 0 0;
  margin: 0 auto;
  width: 95%;
}

.input-container input {
  width: 100%;
  padding: 1em 1em;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.input-container input:focus {
  outline: none;
}


